<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <div class="header-left">
        <h1>SIESTA</h1>
      </div>
      <div class="header-right">
        <a href="" class="btn entry">新規登録</a>
        <a href="" class="btn login">ログイン</a>
      </div>
    </header>
    <div class="top-contents">
      <div class="main-messages">
        <h1>業務報告の簡素化・社内コミュニケーションツール</h1>
        <p>シンプルな業務報告で報告業務に手間を取らせません</p>
        <p>ちょっとした社内連絡もメンバー全員で共有できます</p>
      </div>
    </div>
    <footer>
      <p>SIESTA</p>
    </footer>
  </body>
</html>
