header {
  height: 80px;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  margin-left: 20px;
  letter-spacing: 2px;
  font-size: 28px;
  h1 {
    font-weight: bold;
  }
}


.header-right {
  margin-right: 20px;
}

.btn {
  text-decoration: none;
  border: 1px solid black;
  padding:8px;
  color: white;
}

.report-index {
  margin-left: 10px;
  background-color: lightsalmon;
}

.entry {
  margin-left: 10px;
  background-color: lightcoral;
}

.bbs {
  margin-left: 10px;
  background-color: lightgreen;
}

.login {
  margin-left: 10px;
  background-color: lightskyblue
}

.main-contents {
  height: calc(100vh - 130px);
  width: 100vw;
  background-image: url("topimage.jpg");
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dailyReport {
  background-color: white;
  opacity: 0.9;
  width: 40%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  h1 {
    background-color: lightgray;
  }
  a {
    color: black;
    text-decoration: none;
    margin-left: 5px;
  }
}

.new-contents {
  height: calc(100vh - 130px);
  width: 100vw;
  background-image: url("topimage.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.report-form {
  background-color: lightgray;
  width: 40%;
  opacity: 0.9;
  text-align: center;
  margin-top: 80px;
  padding: 10px 0;
  line-height: 2.0;
}

.comment-form {
  background-color: lightslategrey;
  opacity: 0.9;
  width: 40%;
  padding: 20px;
  text-align: center;
}

.comments {
  background-color: lightsteelblue;
  opacity: 0.9;
  width: 40%;
  margin-top: 10px;
  padding: 20px;
  h3 {
    font-weight: bold;
  }
  p {
    background-color: white;
    margin: 10px 0;
  }
}

footer {
  height: 50px;
  width: 100vw;
  background-color: lightgray;
  justify-content: center;
  display: flex;
  align-items: center;
}

select {
  height: 30px;
}

textarea {
  width: 70%;
}